**/tests/**
**/test/**
**.zip
**/.idea/**
EphysPlus/data/
EphysPlus/data/**
EphysPlus/figures/**
EphysPlus/venv/**
**/__pycache__/**
**.pyc 
logs/
pipeline_paper/
performance/
**.egg-info/**
/ephysplus.egg-info/**
PIPELINE_README.md
.vscode/
pipeline_paper_hippo_slice/
Services/maxtwo_splitter/tmp/
tmp/
